.bubble-container {
  margin-top: 1px;
  display: flex;
  justify-content: flex-start;

  &.incoming {
    flex-direction: row;

    &.first {
      .text-container {
        border-radius: 16px 16px 16px 2px;
      }
    }

    &.middle {
      .text-container {
        border-radius: 2px 16px 16px 2px;
      }
    }

    .text-container {
      background: #eceff1;
      border-radius: 2px 16px 16px 16px;
    }

    .avatar{
      background-image: url('/mayas_avatar.png');
      background-size: cover;
    }
  }

  &.outgoing {
    flex-direction: row-reverse;

    &.first {
      .text-container {
        border-radius: 16px 16px 2px 16px;
      }
    }

    &.middle {
      .text-container {
        border-radius: 16px 2px 2px 16px;
      }
    }

    .text-container {
      background: #263238;
      color: #fff;
      border-radius: 16px 2px 16px 16px;
    }

    .avatar {
      background-image: url('/user_avatar.png');
      background-size: cover;
    }
  }

  &.first {
    margin-top: 12px;
  }

  .avatar-container {
    flex-grow: 0;
    flex-shrink: 0;
    width: 38px;
    height: 38px;

    .avatar {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  .text-container {
    padding: 10px;
    border-radius: 16px;
    margin: 0 10px;
    animation-name: 'expand';
    animation-duration: 0.25s;
  }
}

@keyframes expand {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
